body{
    background: black;
    color: white;
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
content: '';
display: block;
clear: both;
}
.topNavBar{
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 22px;
    padding-right: 22px:
}
.topNavBar > nav{
    padding-top: 3px;
    padding-bottom: 3px;
}
.topNavBar>nav>ul{
    list-style: none;
     margin: 0;
     padding: 0;
}
.topNavBar>nav>ul>li{
    float: left; 
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar>nav>ul>li>a{
    font-size: 14px;
    color: #B7B7B7;
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
} 
.topNavBar>nav>ul>li>a:hover{
   
    border-bottom: 3px solid #e06567;
}
.topNavBar  .logo{
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 3px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #E6686A;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}